version: '3.8'

services:
  db:
    image: postgres:15
    container_name: cctv-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: cctvdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: cctv-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/cctvdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
    depends_on:
      - db

  frontend:
    build: .
    container_name: cctv-frontend
    ports:
      - "3000:8080"
    depends_on:
      - backend

volumes:
  postgres_data:
