services:
  db:
    image: postgres:15
    container_name: cctv-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: cctvdb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: cctv-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/cctvdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
      HLS_ROOT_DIR: /app/hls
    depends_on:
      - db
    volumes:
      - hls_data:/app/hls

  frontend:
    build: .
    container_name: cctv-frontend
    ports:
      - "3000:8080"
    depends_on:
      - backend
    volumes:
      - hls_data:/usr/share/nginx/html/hls

volumes:
  postgres_data:
  hls_data:
